/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --brand: #242835;
    --brand-2: #D0852A;
    --brand-light: #C0C1C1;
    --light: #fff7de;
    --dark: ;
    --vintage-plum: #6E3B5E;
    --ivory: #F8F4EC;
    --burnt-sienna: #E97451;
    --forest-green: #2E4A3B;
    --charcoal: #2C2C2C;

    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 5rem;

    --border-radius: 20px;

    --font-nav: "Lobster Two", sans-serif;
    --font-headings: "Playfair Display", serif;
    --font-body: ;
    --font-size-sm: 1.1rem;
    --font-size-md: 1.3rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3rem;
}

/* Body */
body {
    background-color: var(--light);
}

/* Standardize Elements */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

a {
    text-decoration: none;
}

/* CTA */
.sale-CTA {
    background-color: var(--brand-2);
}

.sale-CTA>a {
    display: flex;
    justify-content: center;
    padding: var(--spacing-md);
    color: var(--light);
}

/* Navigation */
header {
    background-color: var(--brand);
}

nav {
    font-family: var(--font-nav);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
}

.mobile-menu {
    display: none;
}

.desktop-menu {
    font-size: var(--font-size-lg);
    display: flex;
    gap: var(--spacing-xl);
    list-style: none;
}

.desktop-menu>li>a {
    color: var(--brand-light);
    font-weight: 900;
}

.logo-container {
    display: flex;
    width: 15rem;
    height: auto;
}

.logo-container>img {
    width: 100%;
    height: 100%;
}

/* Buttons */
.btn-brand-2 {
    color: var(--light);
    background-color: var(--brand-2);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
}

/* INDEX PAGE*/
.index-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-lg);
    font-size: var(--font-size-md);
    min-height: 80vh;
}

.index-hero>h1 {
    color: var(--brand);
    font-weight: 900;
    text-align: center;
    max-width: 15ch;
}

.index-hero>h2 {
    color: var(--brand);
    font-size: var(--font-size-lg);
}