/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --brand: #242835;
    --brand-hover: #373c4e;
    --brand-light: #C0C1C1;
    --light: #F8F4EC;
    --dark: #2C2C2C;

    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 5rem;

    --border-radius: 20px;

    --font-nav: "Lobster Two", sans-serif;
    --font-headings: "Playfair Display", serif;
    --font-body: ;
    --font-size-sm: 1.1rem;
    --font-size-md: 1.3rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3rem;
}

/* Body */
body {
    background-color: var(--light);
}

/* Standardize Elements */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

a {
    text-decoration: none;
}

/* CTA */
.sale-CTA {
    background-color: var(--dark);
}

.sale-CTA>a {
    display: flex;
    justify-content: center;
    padding: var(--spacing-md);
    color: var(--light);
    font-weight: 900;
}

/* Navigation */
header {
    background-color: var(--brand);
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

nav {
    font-family: var(--font-nav);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
}

.mobile-menu {
    display: none;
}

.desktop-menu {
    font-size: var(--font-size-lg);
    display: flex;
    gap: var(--spacing-xl);
    list-style: none;
}

.desktop-menu>li>a {
    color: var(--brand-light);
    font-weight: 900;
}

.desktop-menu>li>a:hover {
    color: var(--light);
}

.logo-container {
    display: flex;
    width: 15rem;
    height: auto;
}

.logo-container>img {
    width: 100%;
    height: 100%;
}

/* FOOTER */
footer {
    color: var(--brand-light);
    background-color: var(--brand);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "footer1 footer2 footer3"
        "copyright copyright copyright";
}

.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer1;
}

.footer1>ul {
    list-style: none;
}

.footer1>ul>li>a {
    font-size: var(--font-size-sm);
    color: var(--brand-light);
}

.footer1>ul>li>a:hover {
    color: var(--light);
}

.footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer2;
}

.footer2>div>h3 {
    color: var(--light);
}

.footer3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-area: footer3;
}

.footer-logo-container {
    width: 15rem;
}

.footer-logo-container>img {
    width: 100%;
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

.social-svg>svg {
    fill: var(--brand-light);
    width: 2.5rem;
    height: auto;
    /* Keeps aspect ratio */
}

.social-svg svg:hover {
    fill: var(--light);
    transform: scale(1.2);
}

.copyright {
    text-align: center;
    grid-area: copyright;
}

/* Buttons */
.btn-brand-2 {
    color: var(--light);
    font-weight: 700;
    background-color: var(--brand);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
}

.btn-brand-2:hover {
    transform: scale(1.1);
    background-color: var(--brand-hover);

}

/* INDEX PAGE*/
.index-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-lg);
    font-size: var(--font-size-md);
    min-height: 100vh;
    padding-block: 5rem;
}

.index-hero>div {
    text-align: center;
}

.index-hero>h1 {
    color: var(--brand);
    font-weight: 900;
    text-align: center;
    max-width: 15ch;
}

.index-hero>h2 {
    color: var(--brand);
    font-size: var(--font-size-lg);
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    gap: var(--spacing-xl);
}
.book-img-container{
    width: 332px;
    height: auto;
}
.book-img-container>img{
    width: 100%;
    height: auto;
}
.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 332px; 
  height: auto;
  align-self: stretch;
}
.book-card:hover{
    transform: scale(1.1);
}

.book-card>a>div>img {
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}